@{
    ViewData["Title"] = "Edit or Create";
}
@model Poe.Models.Lecturer

<div class="text-center">
    <h1 class="display-4">Edit or Create Invoice</h1>
</div>

<form asp-action="EditInvoiceForm" asp-controller="Home">
    <label>Name</label>
    <input class="form-control" type="text" placeholder="Enter Name" asp-for="Name" />

    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />

    <label class="mt-4">Sessions</label>
    <input class="form-control" type="time" placeholder="0" asp-for="Sessions" />

    <label class="mt-4">Programme Name</label>
    <input class="form-control" type="text" placeholder="Enter Programme Name" asp-for="Programme" /><

    <label class="mt-4">Module Code</label>
    <input class="form-control" type="text" placeholder="Enter Module Code" asp-for="ModuleCode" />

    <label class="mt-4">Groups</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Groups" />

    <label class="mt-4">Rate</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Rate" step="0.01"/>

    

    <button class="btn btn-primary mt-4" type="submit">OK</button>
</form>